.movie-thumbnail {
  position: relative;
}
.movie-thumbnail::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.movie-thumbnail:hover:before {
  background: rgba(0,0,0,0.7);
  transition: all 0.5s;
}
.movie-thumbnail img {
  width: 100%;
}
.movie-thumbnail-title {
  color: #fff;
  position: absolute;
  bottom: 40px;
  font-size: 18px;
}
